body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    height: 100vh;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    margin-bottom: 20px;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #333 #f4f4f4;
    animation: fadeIn 0.8s ease-in-out;
  }

  #loginForm,
  #noteForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
    width: 100%;
  }

  #loginForm {
    transform: translateY(0);
  }

  #noteForm {
    display: none;
    transform: translateY(0);
  }

  input,
  textarea,
  button {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #555;
  }

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('background-image.jpg') center/cover no-repeat fixed;
    animation: parallax 10s infinite alternate linear;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes parallax {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, 20px, 0);
    }
  }

  @media screen and (max-width: 768px) {
    #loginForm, #noteForm {
      width: 100%;
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #333;
  }

  ::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }